<header class="site-header">
  <div class="wrapper" style="text-align:center; padding:0.2em 0;">
    <a href="https://f9xr.github.io" style="text-decoration:none;">
      <img src="https://f9xr.github.io/logo.webp" alt="F9XR Team" style="height:22px; vertical-align:middle;">
      <span style="color:#30363d; font-size:0.8em; margin:0 0.2em; vertical-align:middle;">/</span>
      <span style="color:#71717a; font-size:0.8em; vertical-align:middle;">Articles</span>
    </a>
    <nav style="margin-top:0.1em;">
      <a href="https://f9xr.github.io" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Home</a>
      <a href="https://f9xr.github.io/pages/about.html" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">About</a>
      <a href="https://f9xr.github.io/pages/services.html" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Services</a>
      <a href="https://f9xr.github.io/pages/portfolio.html" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Portfolio</a>
      <a href="{{ '/articles' | relative_url }}" style="color:#3b82f6; font-size:0.78em; margin:0 0.6em;">Articles</a>
      <a href="https://f9xr.github.io/tools/index.html" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Tools</a>
      <a href="https://f9xr.github.io/directories/index.html" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Directories</a>
      <a href="https://growwithguidance.blogspot.com" style="color:#8b8b8b; font-size:0.78em; margin:0 0.6em;">Blog</a>
    </nav>
  </div>
</header>
