.hljs.language-tsql {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #0a0a0a;
    color: #c9d1d9;
}

.language-tsql .hljs-keyword {
    color: #ff7b72;
    font-weight: normal;
}

.language-tsql .hljs-built_in {
    color: #d2a8ff;
}

.language-tsql .hljs-type {
    color: #79c0ff;
    font-weight: normal;
}

.language-tsql .hljs-function {
    color: #d2a8ff;
}

.language-tsql .hljs-number {
    color: #79c0ff;
}

.language-tsql .hljs-string {
    color: #a5d6ff;
}

.language-tsql .hljs-symbol {
    color: #79c0ff;
}

.language-tsql .hljs-comment {
    color: #8b949e;
    font-style: normal;
}

.language-tsql .hljs-meta {
    background: #161b22;
    color: #c9d1d9;
}

.language-tsql .hljs-literal {
    color: #79c0ff;
}
